<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=7.5">
    <title>Titanic Machine Learning Disaster</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="statis/css/magnific-popup.css"> 
    <link rel="stylesheet" href="static/css/templatemo-ocean-vibes.css"> 

</head>
<body>
    <header class="tm-site-header">
        <h1 class="tm-mt-0 tm-mb-15"><span class="tm-color-primary">Titanic</span> <span class="tm-color-gray-2">Disaster</span></h1>
        <em class="tm-tagline tm-color-light-gray">Machine Learning</em>
    </header>

    <div class="popup" class = "overlay">
        <div class ="popup tm-mb-15"></div>
        <h2 class = "tm-mt-0 tm-mb-15"> Your chances of surviving are : {{ prediction_text  }} %</h2>
        <div id = "prediction_text" class ="content">
            <p><strong>You chose to travel in #{{prediction_class}} Class</strong>, but did you know that your gender  
            was actually more important, <strong> Girls and kids</strong>  had more chances to survived.</p>
            <p>Another important Fact is that Most of the survivor were from <strong> Class 1</strong> and most of them were female </p>
            <p>I hope you have enjoyed this small demo, but the way no information was kept.</p>
        </div>
        
         <div class="form-group tm-text-right ">
            <a class="tm-mt-0 tm-mb-20" href="{{url_for('home')}}">Try Again</a>
         </div>
         
    </div> 
    <footer class="tm-footer">
        <span>Copyright &copy; Marvin Garcia</span>
        <span>AI Designed by 
        <a href="https://www.linkedin.com/in/marvin-garcia-917127184/" title="free website templates" target="_parent" rel="nofollow">Marvin Garcia</a></span>
</footer>

    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>    
    <script src="static/js/templatemo-script.js"></script>
</body>
</html>